   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "raleway";
    
}

/* --header--*/
.menu{
    width: 100%;
   
}
.header nav ul{
    display: inline-block;
}
.header{
    display:flex;
    padding: 20px 5%;
    background-color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 0;
    position:fixed;
    width: 100%;
}

.logo{
  margin-right: 5%;
}
.nav-links{
    list-style: none;
    padding-top: 1.5em;
    padding-bottom: 0;
}
.nav-links li{   
    display: inline-block;
    padding: 0px 10px;
}
.nav-links li a {
    text-decoration: none;
    font-weight:600;
    transition: all 0.3s ease 0s;

}

.nav-social{
    list-style: none;   
    float: right;
    padding-top: 1.4em;
    padding-bottom: 0;
   
}
.nav-social li{
    
    display: inline-block;
    padding: 0px 10px;
    
}
.numero{
    font-weight: bold;
    font-size: 20px;
}
.nav-social li a {
    text-decoration: none;

    transition: all 0.3s ease 0s;

}

.nav-social li a img {
    width: 20px;
}

/*estilo para iconos cuando se aplique responsive*/

.nav-social-responsive{
    display: none;
}
.icons-social{
    display: none;
}

.nav-social-responsive li{
    display: none;
}
.icons-social li{
    display: none;
}
#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 20px;
    background: #eeeefa; 
    border-radius: 100%;
    color: #075CE8;
    display: none;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}
#icon-menu:hover{
    cursor: pointer;

}

/*--Contenido--*/

.caja-texto-uno{
    margin-left: 10%;
    text-align: center;
}
.primerseccion {
    padding: 25px 10%;
    margin-top: 20vh;
}
.image-resultor{
    width: 42%;
}

.image-resultor img{
    width: 33vw;

}
.contentuno{
    display: flex;
    justify-content: space-between;
}
.parrafo-1{
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.6vw;
    text-align: center;
}

.parrafo-2{
    font-size: 1.6vw;
}


.boton-contact{
    background-color: #075CE8;
    color: #fafafa;
    font-size: 1.9vw;
    font-weight: bold;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    
}

.boton-contact:hover{
    text-decoration: none;
    background-color: #0C56C1;
    color: #fafafa;
}

/*seccion dos*/

.seccion-dos{
    text-align: center;
    padding: 15% 10%;
}

.seccion-dos article p{  
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    
}

.seccion-dos article div img{
    width: 37vw;
}

/*seccion servicios*/
.seccion-iconos{
    display: flex;
    justify-content:center;
    padding-bottom: 10%;
}

.title-servicios{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
}

.box-resultoria img{
    width: 15vw;
}

.box-agil img{
    width: 15vw;
}

.box-mentoria img{
    width: 15vw;
}

.box-resultoria p{
    font-weight: 800;
    font-size: 1.4vw;
}

.box-agil p{
    font-weight: 800;
    font-size: 1.4vw;
}

.box-mentoria p{
    font-weight: 800;
    font-size: 1.4vw;  
}

/*video*/
.video{
    text-align: center;
    padding-bottom: 10%;
}
.video iframe{
    border-radius: 20px;
}

/* seccion esperto*/

.seccion-experto{
    padding-bottom: 10%;
}

.experto-content{
    display:grid; 
    grid-template-columns:repeat(3,1fr);
}

.experto-content .img-left img{
    width: 12%;
}

.experto-content .img-rigth{
    display: flex;
    justify-content: end;
}

.experto-content .img-rigth img{
    width: 20%;
}

.experto-content ul{
    text-align:left ; 
    justify-items: center;
}

.experto-content ul h3{
    text-align: left; 
    font-size: 40px; 
    font-weight: 600;
}

.experto-content ul li{
    font-size: 30px; 
    font-weight: 400;
}

/*formulario*/
.form-register{
    padding:10%;
    display: inline-block;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(1,1fr) !important;
}

.field{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    outline: none;
    background: #F5F5F5;
    border-radius: 25px;
    border: 0px;
}

.form-register p{
    font-weight: 700;
    font-size: 24px;
}
.input{
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    outline: none;
    background: #F5F5F5;
    border-radius: 25px;
    border: 0px;
}

.submit{
    width: 30%;
    border-radius: 20px;
    background-color: #3FA9F5;
    border: 0px;
    outline: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.submit:hover{
    cursor: pointer;
}

.submit:active{
    border: 0px;
    outline: none;
    background-color: #43A2E7 ;
}
/* estilo footer*/
footer{
    background-color: black;  
    padding-top: 50px;
}

footer div{
    display: flex;
    justify-content:space-around;
}

footer div ul {
 list-style: none;
}
footer div ul li a{
    color: #ffffff;
}

/* estilo footer GRID*/
.social-title{
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    grid-column: 1/3;
    text-align: center;
    -ms-grid-column-align: center;
}

.logo-roman-footer-content{
    align-items: center;
}

.logo-roman-footer{
    margin-right: -15%;
}

.logo-roman-footer img{
    width: 20%;
}
.terminos{
    align-items: center;
}

.sitios-web{
    align-items:center;
}

 
/*Estilo Iconos*/
.redes-sociales-container{
    display: grid; 
    grid-template-columns:repeat(2,1fr);
    grid-template-columns: 100px 100px;

}

.redes-sociales-container ul {
    text-align: center;
}

.redes-sociales-container ul li{
    padding-top: 10px; 
    padding-bottom: 10px;
}

.linea-uno li a img{
    width: 35%;

}

.linea-dos li a img{
    width: 35%;
}

.linea-tres{
    grid-column: 1/3;
    text-align: center;
    -ms-grid-column-align: center;
}

.linea-tres li a img{
    width: 50%;
}

/* telefono*/
@media screen and (max-width: 800px){


    .header{
        background-color: #ffffff ;
    }
   /* .move-container-all{
        transform: translatex( 300px) !important;
    }

    .container-all{
        transition: all 300ms !important;
    }
    */
    .menu{
        height: calc(100% - 80px);
        position: fixed;
        top: 105px;
        left: 0;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 8px 8px 8px;
        overflow: hidden;
        text-align:left!important; 
        transform: translateX(-600px);
        transition: all 1s;
    }

    .menu-animate{
       width: 300px; 
       transform: translateX(0px); 
       
    }
    
    .nav-links{       
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        grid-template-columns: 25px 25px 25px;
        padding-left: 15px;    
    }

    .nav-links li a{
        font-size: 25px;
    }

    /*
    ocultar nav social de movil
    .nav-social li a{
        font-size: 21px;
    }
    */

    /*
    .nav-social{
        padding-left: 15px;
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important; 
        width: 100%;
        
    }
    */
    .nav-social li{
        display: none;
    }

    .icons-social{
        display: grid !important;
        grid-template-columns: repeat(3,2fr);
        padding-left: 20px;
        padding-right: 50px;    
    }
    .icons-social li{
        display:inline;
        padding-bottom: 25px;
    }

    .numero-responsive{
        grid-column: 1/4;
    }

    .numero-responsive a{
        font-size: 21px;
        font-weight: 700;
    }

    .icons-social li img{
        width: 30px;
    }


    #icon-menu{
        display: flex;
    }

    /* contenido*/

    .contentuno{
        
        display: grid !important;
        grid-template-columns: repeat(1,1fr);


    }

    .image-resultor {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .image-resultor img{
        width: 93%;
    }

    .logo-roman-content{
        display: none;
    }

    .parrafo-1{
        font-size: 18px;
    }

    .boton-contact{
        font-size: 5vw;
    }

    .caja-texto-uno{
        margin-left: 0%;
    }


    .seccion-dos article p{
        font-size: 18px;
    }

    .seccion-dos article div img{
        width: 80vw;
    }

    .seccion-iconos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 70px;
    }

    .box-resultoria img{
        width: 45vw;
    }

    .box-mentoria img{
        width: 45vw;
    }

    .box-agil img{
        width: 45vw;
    }

    .box-resultoria p{
        font-size: 4vw;
    }
    
    .box-agil p{
        font-size: 4vw;
    }
    
    .box-mentoria p{
        font-size: 4vw;  
    }
   
    .video iframe{
        width: 65%;
        height: 65%;
    }

    /* seccion experto*/
    .seccion-experto{
        padding-bottom: 10%;
    }
    
    .experto-content{
        display:grid; 
        grid-template-columns:repeat(3,1fr);
    }
    
    .experto-content .img-left img{
        width: 22%;
    }
    
    .experto-content .img-rigth{
        display: flex;
        justify-content: end;
    }
    
    .experto-content .img-rigth img{
        width: 32%;
    }
    
    .experto-content ul{
        text-align:left ; 
        justify-items: center;
    }
    
    .experto-content ul h3{
        text-align: left; 
        font-size: 23px; 
        font-weight: 600;
    }
    
    .experto-content ul li{
        font-size: 18px; 
        font-weight: 400;
    }

    /*seccion footer*/

    footer div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-start;
        
    }

    .social-title{
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        grid-column: 1/3;
        text-align: center;
        -ms-grid-column-align: center;
    }
    
    .logo-roman-footer{
        margin-right: -15%;
        width: 100%;
    }
    .logo-roman-footer img{
        width: 13%;
        
    }

    .logo-roman-footer-content{
        align-items: center;
        padding-bottom: 55px;
        padding-left: 30px;
    }

    .terminos{
        align-items: center;
        padding-bottom: 55px;
        padding-left: 30px;
    }
    
    .sitios-web{
        align-items:center;
        padding-bottom: 55px;
        padding-left: 30px;
    }
    
     
    /*Estilo Iconos*/
    .redes-sociales-container{

        display: inline;
       text-align: center;
       /*        display: grid; 
        grid-template-columns:repeat(2,1fr 1fr 1fr);
        grid-template-columns: 100px 100px;
        */
    
    }
    
    .redes-sociales-container ul{
        display: inline-flex;
    }

    .linea-uno li a img{
        width: 20%;
    
    }
    
    .linea-dos li a img{
        width: 20%;
    }

    .linea-tres li a img{
        width: 35%;
    }

    .linea-tres{
        grid-column: 1/3;
        text-align: center;
        -ms-grid-column-align: center;
    }
    

}



@media screen and (max-width: 550px){


    .header{
        background-color: #ffffff ;
    }
   /* .move-container-all{
        transform: translatex( 300px) !important;
    }

    .container-all{
        transition: all 300ms !important;
    }
    */
    .menu{
        height: calc(100% - 80px);
        position: fixed;
        top: 105px;
        left: 0;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 8px 8px 8px;
        overflow: hidden;
        text-align:left!important; 
        transform: translateX(-600px);
        transition: all 1s;
    }

    .menu-animate{
       width: 300px; 
       transform: translateX(0px); 
       
    }
    
    .nav-links{       
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        grid-template-columns: 25px 25px 25px;
        padding-left: 15px;    
    }

    .nav-links li a{
        font-size: 25px;
    }

    /*
    ocultar nav social de movil
    .nav-social li a{
        font-size: 21px;
    }
    */

    /*
    .nav-social{
        padding-left: 15px;
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important; 
        width: 100%;
        
    }
    */
    .nav-social li{
        display: none;
    }

    .icons-social{
        display: grid !important;
        grid-template-columns: repeat(3,2fr);
        padding-left: 20px;
        padding-right: 50px;    
    }
    .icons-social li{
        display:inline;
        padding-bottom: 25px;
    }

    .numero-responsive{
        grid-column: 1/4;
    }

    .numero-responsive a{
        font-size: 21px;
        font-weight: 700;
    }

    .icons-social li img{
        width: 30px;
    }


    #icon-menu{
        display: flex;
    }

    /* contenido*/

    .contentuno{
        
        display: grid !important;
        grid-template-columns: repeat(1,1fr);


    }

    .image-resultor {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .image-resultor img{
        width: 93%;
    }

    .logo-roman-content{
        display: none;
    }

    .parrafo-1{
        font-size: 18px;
    }

    .boton-contact{
        font-size: 5vw;
    }

    .caja-texto-uno{
        margin-left: 0%;
    }


    .seccion-dos article p{
        font-size: 18px;
    }

    .seccion-dos article div img{
        width: 80vw;
    }

    .seccion-iconos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 70px;
    }

    .box-resultoria img{
        width: 45vw;
    }

    .box-mentoria img{
        width: 45vw;
    }

    .box-agil img{
        width: 45vw;
    }

    .box-resultoria p{
        font-size: 4vw;
    }
    
    .box-agil p{
        font-size: 4vw;
    }
    
    .box-mentoria p{
        font-size: 4vw;  
    }
   
    .video iframe{
        width: 65%;
        height: 65%;
    }

    /* seccion experto*/
    .seccion-experto{
        padding-bottom: 10%;
    }
    
    .experto-content{
        display:grid; 
        grid-template-columns:repeat(3,1fr);
    }
    
    .experto-content .img-left img{
        width: 22%;
    }
    
    .experto-content .img-rigth{
        display: flex;
        justify-content: end;
    }
    
    .experto-content .img-rigth img{
        width: 32%;
    }
    
    .experto-content ul{
        text-align:left ; 
        justify-items: center;
    }
    
    .experto-content ul h3{
        text-align: left; 
        font-size: 23px; 
        font-weight: 600;
    }
    
    .experto-content ul li{
        font-size: 18px; 
        font-weight: 400;
    }

    /*seccion footer*/

    footer div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-start;
        
    }

    .social-title{
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        grid-column: 1/3;
        text-align: center;
        -ms-grid-column-align: center;
    }
    
    .logo-roman-footer{
        margin-right: -15%;
        width: 100%;
    }
    .logo-roman-footer img{
        width: 13%;
        
    }

    .logo-roman-footer-content{
        align-items: center;
        padding-bottom: 55px;
        padding-left: 30px;
    }

    .terminos{
        align-items: center;
        padding-bottom: 55px;
        padding-left: 30px;
    }
    
    .sitios-web{
        align-items:center;
        padding-bottom: 55px;
        padding-left: 30px;
    }
    
     
    /*Estilo Iconos*/
    .redes-sociales-container{

        display: inline;
       text-align: center;
       /*        display: grid; 
        grid-template-columns:repeat(2,1fr 1fr 1fr);
        grid-template-columns: 100px 100px;
        */
    
    }
    
    .redes-sociales-container ul{
        display: inline-flex;
    }

    .linea-uno li a img{
        width: 12%;
    
    }
    
    .linea-dos li a img{
        width: 12%;
    }

    .linea-tres li a img{
        width: 25%;
    }

    .linea-tres{
        grid-column: 1/3;
        text-align: center;
        -ms-grid-column-align: center;
    }
    

}
